/* ---------------------------------- accordion  -----------------------------
	------------------------------------------------------------------------------- */

// ACCORDION
.accordions{
	text-align: center;
	margin-top: -2rem;
	
	>a{
		@include btn_white;
	}
	
	>a.open{
		@include btn_white_active;
	}
	
}

.accordions.mobile{
	
	.content-acordion{
		display: none;
	}
	
	.content-acordion.open{
		@media (max-width: $breakpoint_3){
			display: block;
		}
	}
}



.acordion_desktop{
	@include display-grid;
	@include grid-parent-1-columns (1fr);
	
	.content-acordion{
		display: none;
		@include grid-child-column (1, 2);
		@include grid-child-row (1, 2); 
	}
	
	.content-acordion.open{
		display: block;
		@media (max-width: $breakpoint_3){
			display: none
		}
	}
	
}

// general style
.content-acordion{
	padding: 2rem;
	position: relative;
	text-align: left;
	border: 2px solid $color_green;
	
	img{
		position: absolute;
		top: 1rem;
		right: 1rem;
		cursor: pointer;
		&:hover{
			opacity: .5;
		}
	}
	
	h3{
		margin-bottom: 1rem;
		@include font_universal (
			$font_family_line_height: 22px ,
			$font_family_weight: 300,
			$font_family_size: 17px,
			$font_family_color: $color_text,
			$font_family_letter_spacing: 0,
			$font_family_group: $font_acherus_black
		);
		@media (max-width: $breakpoint_3){
			padding-right: 2rem;
		}
	}
	
}

.content_accordion_1,
.content_accordion_4{
	&:before{
		content: "";
		background: url('../../images/svg/triangle-up.svg');
		position: absolute;
		top: -12px;
		width: 1.4rem;
		height: 0.8rem;
		background-repeat: repeat;
		left: 15%;
	}
}

.content_accordion_2,
.content_accordion_5{
	&:before{
		content: "";
		background: url('../../images/svg/triangle-up.svg');
		position: absolute;
		top: -12px;
		width: 1.4rem;
		height: 0.8rem;
		background-repeat: repeat;
		left: 50%;
	}
}

.content_accordion_3,
.content_accordion_6{
	&:before{
		content: "";
		background: url('../../images/svg/triangle-up.svg');
		position: absolute;
		top: -12px;
		width: 1.4rem;
		height: 0.8rem;
		background-repeat: repeat;
		right: 15%;
	}
}

.content_accordion_1,
.content_accordion_2,
.content_accordion_3,
.content_accordion_4,
.content_accordion_5,
.content_accordion_6{
	&:before{
		@media (max-width: $breakpoint_3){
			right: initial;
			left: 50%;
		}
	}
}
	



