/* ---------------------------------- Opciones -----------------------------
	------------------------------------------------------------------------------- */


section.opciones{
	margin-top: 13rem;
	grid-gap: 1rem;
	@include display-grid;
	@include grid-parent-2-columns (1fr, 1.8fr);
	
	@media (max-width: $breakpoint_2){
		margin-top: 5rem;
		@include grid-parent-2-columns (1fr, 2.5fr);
	}
	
	@media (max-width: $breakpoint_3){
		@include grid-parent-1-columns (1fr);
	}
	
	.txt{
		
		>div{
			padding: 2rem;
			position: relative;
			background: transparentize($color_green, .85);
			@include display-grid;
			@include grid-parent-2-rows (auto, auto);
			@include grid-child-column (1, 2);
			@include grid-child-row (1, 4);
			
			&:before{
				content: "";
				background: transparentize($color_green, .85);
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: -100%;
			}
		
		}
		
	}
	
	.boxes{
		grid-gap: 1rem;
		@include display-grid;
		@include grid-parent-3-columns (1fr, 1fr, 1fr);
		
		@media (max-width: $breakpoint_3_1){
			grid-gap: 2rem;
			@include grid-parent-1-columns (1fr);
		}
		
		.box{
			padding: 1rem 1rem 1.5rem;
			min-height: 135px;
			position: relative;
			border: 1px solid $color_green_dark;
			@include display-grid;
			
			>img{
				align-self: center;
				justify-self: center;
			}
			
			a.more_btn{
				position: absolute;
				bottom: -11%;
				left: 45%;
				cursor: pointer;
				background: url('../../images/svg/btn-mas.svg');
				background-repeat: no-repeat;
				background-position: center;
				width: 2rem;
				height: 2rem;
				
				&:hover{
					background: url('../../images/svg/btn-mas-green.svg');
					background-repeat: no-repeat;
					background-position: center;
				}
				
				@media (max-width: $breakpoint_3_1){
					bottom: -5%;
				}
				
				&:after{
					display: none;
				}
			}
			
			a.more_btn.open{
				position: absolute;
				bottom: -11%;
				left: 45%;
				cursor: pointer;
				background: url('../../images/svg/btn-mas-green.svg');
				background-repeat: no-repeat;
				background-position: center;
				width: 2rem;
				height: 2rem;
				
				&:hover{
					background: url('../../images/svg/btn-mas.svg');
					background-repeat: no-repeat;
					background-position: center;
				}
				
				@media (max-width: $breakpoint_3_1){
					bottom: -5%;
				}
				
				&:after{
					display: none;
				}
			}
			
		}
		
		.boxes_mobile{
			display: none;
			@media (max-width: $breakpoint_3_1){
				display: block;
			}
			
			.content-acordion{
				display: none;
				@include boxes;
			}
			
			.content-acordion.open{
				display: block;
			}
			
		}
		
		.boxes_desktop{
			margin: 1rem 0;
			@include grid-child-column (1, 4);
			
			@media (max-width: $breakpoint_3_1){
				display: none;
			}
			
			.content-acordion{
				display: none;
				@include boxes;
			}
			
			.content-acordion.open{
				display: block;
			}
			
		}
		
	}
	
	.cajas{
		grid-gap: 2rem;
		@include display-grid;
		@include grid-parent-2-columns (1fr, 1fr);
		
		@media (max-width: $breakpoint_4){
			@include grid-parent-1-columns (1fr);
		}
		
		.caja_dos{
			background: $color-brand-white;
			padding: 1rem;
			
			&:last-child{
				@include grid-child-column (1, 3);
				
				@media (max-width: $breakpoint_4){
					@include grid-child-column (1, 2);	
				}
				
			}
			
			h4{
				@include font_universal (
					$font_family_line_height: 22px,
					$font_family_weight: 300,
					$font_family_size: 19px,
					$font_family_color: $color_text,
					$font_family_letter_spacing: 0,
					$font_family_group: $font_acherus_bold
				);
				margin: 0;
				font-style: italic;
				border-bottom: 1px solid $color_green_dark;
				padding-bottom: .5rem;
			}
			
			p{
				margin-bottom: 0;
			}
			
		}
		
	}
	
	.boton_img{
		text-align: center;
		
		a{
			max-width: 20rem;
		}
		
	}
	
}




