/* ---------------------------------- Opciones -----------------------------
	------------------------------------------------------------------------------- */


section.renovacion{
	grid-gap: 2rem;
	@include display-grid;
	@include grid-parent-2-columns (1fr, 1fr);
	
	@media (max-width: $breakpoint_3){
		@include grid-parent-1-columns (1fr);
	}
	
	.txt{
		
		h3{
			@include font_universal (
				$font_family_line_height: 25px ,
				$font_family_weight: 300,
				$font_family_size: 20px,
				$font_family_color: $color_text,
				$font_family_letter_spacing: 0,
				$font_family_group: $font_acherus_black
			);
		}
		
		h4{
			@include font_universal (
				$font_family_line_height: 20px ,
				$font_family_weight: 300,
				$font_family_size: 16px,
				$font_family_color: $color_text,
				$font_family_letter_spacing: 0,
				$font_family_group: $font_acherus_black
			);
			margin: .5rem 0;
		}
		
	}
	
	.caja{
		@include caja;
	}
	
}




