extends ./jade/includes/layout-pages.jade

//- Head html tag
block title
	title Apoyos Económicos

//- Content page
block content

	+header-back-u
			
	header
		div.logo
			img(src='../../images/svg/logo-U.svg' alt='Universidad El Bosque')
			a(href='#')
				img(src='../../images/svg/logo-PSE.svg' alt='PSE')
				| Pagos
		div.content_header
			div.txt
				h1 Financia tus sueños
				p Descubre todas las facilidades de pago y opciones de financiación que hemos creado pensando en ti, porque ¡siempre habrá un medio para cumplir tus sueños!

			div.banner
				img(src='../../images/photos/banner_header.png' alt='Apoyos financieros')
				
			div.vigilada
				span Vigilada Mineducación
		
	
	
	
	section.opciones
		div.txt
			div
				h2 Me interesa financiar el  pago de la matrícula
				p En la Universidad El Bosque sabemos lo importante que es contar con alternativas financieras que te permitan asegurar el desarrollo exitoso de tus estudios. Por esta razón, hemos diseñado diversas opciones en las cuales podrás encontrar el apoyo que buscas para matricularte.
		
		div.boxes
		
			div.box.acordion1
				img(src='../../images/photos/logo-Icetex.png' alt='Icetex')
				a.more_btn: img.more(src='../../images/svg/btn-mas.svg' alt='more')
				div.boxes_mobile
					+acordion-1
					
			div.box.acordion2
				img(src='../../images/photos/logo-Pichincha.png' alt='Banco Pichincha')
				a.more_btn: img.more(src='../../images/svg/btn-mas.svg' alt='more')
				div.boxes_mobile
					+acordion-2
					
			div.box.acordion3
				img(src='../../images/photos/logo-Financiar.png' alt='Financiar')
				a.more_btn: img.more(src='../../images/svg/btn-mas.svg' alt='more')
				div.boxes_mobile
					+acordion-3
					
					
			div.boxes_desktop
				+acordion-1
				+acordion-2
				+acordion-3
				
			div.box.acordion4
				img(src='../../images/photos/logo-fincomercio.png' alt='Fincomercio')
				a.more_btn: img.more(src='../../images/svg/btn-mas.svg' alt='more')
				div.boxes_mobile
					+acordion-4
					
			div.box.acordion5
				img(src='../../images/photos/logo-fundacion-michelsen.png' alt='Fundación Michelsen')
				a.more_btn: img.more(src='../../images/svg/btn-mas.svg' alt='more')
				div.boxes_mobile
					+acordion-5
					
			div.box.acordion6
				img(src='../../images/photos/logo-banco-de-bogota.png' alt='Banco de Bogotá')
				a.more_btn: img.more(src='../../images/svg/btn-mas.svg' alt='more')
				div.boxes_mobile
					+acordion-6
					
					
			div.boxes_desktop
				+acordion-4
				+acordion-5
				+acordion-6
				
				
			div.box.acordion7
				img(src='../../images/photos/logo-sufi.png' alt='Sufi')
				a.more_btn: img.more(src='../../images/svg/btn-mas.svg' alt='more')
				div.boxes_mobile
					+acordion-7
					
			div.box.acordion8
				img(src='../../images/photos/logo-Lumni-1.png' alt='Lumni')
				a.more_btn: img.more(src='../../images/svg/btn-mas.svg' alt='more')
				div.boxes_mobile
					+acordion-8
					
					
			div.boxes_desktop
				+acordion-7
				+acordion-8
				
		
		
	section.renovacion
		div.txt
			h2 Necesito renovar mi crédito
			p Selecciona una de las siguientes opciones según tu situación actual.
			div.caja
				img(src='../../images/svg/icons-universidad.svg' alt='Universidad El Bosque')
				p Tengo crédito con la Universidad
				a.btn_yellow(href='#') Ver más
			div.caja
				img(src='../../images/svg/icons-credito.svg' alt='Crédito')
				p Tengo crédito con el Icetex
				a.btn_yellow(href='#') Ver más
				
		div.image
			img(src='../../images/photos/renovacion.png' alt='Renovación')
			
			
	section.formularios
		div.content_formularios
			div.image
				img(src='../../images/photos/formularios.png' alt='Formularios')
			div.txt
				h2 Ingresa a los formularios para pre-inscribirte a alguna de las siguientes opciones:
				div.caja
					img(src='../../images/svg/icons-info.svg' alt='Información')
					p Quiero conocer sobre Lumni
					a.btn_yellow(href='#') Ver más
				div.caja
					img(src='../../images/svg/icons-no-aprobado.svg' alt='No aprobado')
					p Mi crédito no fue aprobado por entidades financieras
					a.btn_yellow(href='#') Ver más
					
					
					
	section.banner_gestion
		div
			h2 ¿No has podido gestionar exitosamente tu crédito?
			a.btn_yellow(href='#') Solicita tu cita
			
			
	section.calendario
		h2 Calendario académico
		div.cajas
			div.caja
				img(src='../../images/svg/icons-info.svg' alt='Información')
				p CALENDARIO POSGRADO
				a.btn_yellow(href='#') Ver más
			div.caja
				img(src='../../images/svg/icons-no-aprobado.svg' alt='No aprobado')
				p CALENDARIO PREGRADO	
				a.btn_yellow(href='#') Ver más
				
				
	section.banner_creser
		div.content
			div.txt
				h2 Conoce el programa Creser: becas y estimulos.
				a.btn_yellow(href='https://programacreser.unbosque.edu.co') Entrando aquí
			div.image
				img(src='../../images/photos/creser.png' alt='Creser')
			
			

			
			
	+footer
	
	
	
	
	