//- ----------------------------
//- ---------------------------- header menu ------------------------------- //
//- ----------------------------
mixin header-back-u
	div.back
		section
			<a href="https://www.unbosque.edu.co" target="_blank"><i class="fas fa-caret-left"></i> Ir a la Universidad El Bosque</a>
			

//- ----------------------------
//- ---------------------------- Acordiones ------------------------------- //
//- ----------------------------
mixin acordion-1
	div.content-acordion.content_accordion_1
		span.close-button
		div.video
			div.embed-container
				<iframe src="https://www.youtube.com/embed/4Az89F7IXVI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				
		p Líneas Tú Eliges, están dirigidas a personas que se beneficiarán con créditos educativos, las cuales funcionan por medio de un préstamo que financia hasta el 100% de la matrícula con diferentes alternativas de pago.
		
		h3 Líneas tu eliges:
		
		ul
			li Corto plazo: Paga el 100% mientras estudia.
			li Mediano plazo: Paga el 30%, 40% y 60% mientras estudia.
			li Largo plazo: Paga el 0%, 25% mientras estudia.
			
		a.btn_yellow(href='https://portal.icetex.gov.co/Portal/Home/HomeEstudiante/creditos-tu-eliges' target='_blank') Mayor información
		
		h3 Líneas especiales:
		
		ul
			li Línea de protección constitucional (población victima y población indígena)
			li Línea mas Colombiano que nunca
			li Generación E
			li Comunidades Indígenas
			li Comunidades Negras
			li Estudiantes con discapacidad
			
		a.btn_yellow(href='https://portal.icetex.gov.co/Portal/Home/HomeEstudiante/fondos-en-administracion' target='_blank') Mayor información
			
			
			
mixin acordion-2
	div.content-acordion.content_accordion_2
		span.close-button
		p La mejor oportunidad para construir el futuro, crédito educativo Pichincha.
		h3 Lineas de crédito
		h3 Línea corto plazo:
		
		ul
			li Tasa: 1,49% NMV
			li Plazo: Entre 3 y 12 meses de acuerdo al periodo académico, últimos semestres hasta 24 meses.
			li Cupos desde $ 300.000 hasta $30.000.000
			li Viabilidad al momento de la solicitud.
			li Puede solicitarse totalmente en línea <a href="https://pichincha.credyty.com/" target="_blank">https://pichincha.credyty.com/</a>
			
		h3 Línea largo plazo:
		
		ul
			li Tasa: 1,59% NMV
			li Plazo: Entre 12 y 60 meses.
			li Cupos desde $5.000.000 hasta $ 160.000.000
			li Suma de ingresos familiares para respaldar la obligación.
			li El pago de la primera cuota se realiza 30 días después del desembolso.
			
		h3 Contacto: 
		p Nombre: Flor Marcela Vergara
		p Correo: <a href="mailto: flor.vergara@pichincha.com.co" target="_blank">flor.vergara@pichincha.com.co</a>
		p Celular: 3107841493
		p Telefono:  6501050 Ext 812082
		
		a.btn_yellow(href='https://www.bancopichincha.com.co/web/personas/credito-educativoeducativo/simulador?gclid=EAIaIQobChMIrr7y46Xc6QIVgeDICh1yzg3iEAAYASAAEgJZwfD_BwE' target='_blank') Mayor información
			
			
mixin acordion-3
	div.content-acordion.content_accordion_3
		span.close-button
		p Brinda diferentes opciones de créditos a los estudiantes tanto para programas de Pregrado, o Posgrado, con el objeto de lograr en cada alternativa, una posibilidad de continuar con sus estudios
		h3 Líneas de crédito
		h3 Línea de corto plazo tradicional
		
		ul
			li Tasa: 1,4 % NMV
			li Plazo: Hasta 12 meses.
			li Aprobación inmediata
			li Hasta 100% valor matrícula.
			li Se firma pagare o cheques posfechados como garantía.
			
		h3 Nueva opción 2 – línea mediano plazo:
		
		ul
			li Tasa: 1,5% 
			li Plazo: Hasta 36 meses.
			li Debe presentar solicitud con un codeudor.
			
		h3 Contacto: 
		p Nombre: Leonardo
		p Correo: <a href="mailto: auxiliar1.comercial@financiar.com.co" target="_blank">auxiliar1.comercial@financiar.com.co</a>
		p Celular: 3228848470
		
		a.btn_yellow(href='https://www.financiar.com.co/credito-educativo' target='_blank') Mayor información
			
			
mixin acordion-4
	div.content-acordion.content_accordion_4
		span.close-button
		p Cooperativa de ahorro y crédito que lleva 62 años apoyando los sueños de los colombianos y en la que confían más de 219 mil asociados. 
		h3 Líneas de crédito
		h3 Línea de corto plazo:
		
		ul
			li Monto desde $300.000 hasta el 100 % del valor de la matricula.
			li Plazo de 3 a 6 meses
			li Tasa 1,38 
			li Tipo de codeudor:
			li Menor de edad: Obligatorio codeudor primer grado de consanguinidad (22 a 74 años)
			li Mayor de edad: Sin grado de consanguinidad si lo requiere.
			
		h3 Línea mediano plazo:
		
		ul
			li Aplica solo para el 100 % del valor de la matrícula.
			li Aplica para pregrado desde 4 semestre  y para segundo periodo si es anual.
			li Tasa fija por utilización.
			li Plazo desde 8 meses hasta 24 meses.
			li Tipo de codeudor: igual que la línea anterior
			
		h3 Contacto: 
		p Nombre: Viviana Cruz
		p Correo: <a href="mailto: vivpue@fincomercio.com" target="_blank">vivpue@fincomercio.com</a>
		p Celular: 3165346187 
		
		a.btn_yellow(href='https://www.fincomercio.com/credito-libre-vehiculo-educativo/credito-educativo/' target='_blank') Mayor información
		
		div.cajas
			div.caja
				img(src='../../images/svg/novedades-icon-2.svg' alt='Novedades')
				p Novedades estudiantes nuevos
				a.btn_yellow(href='https://www.fincomercio.com/interes-credito-educativo-fincomercio/' target='_blank') Ver más
			
			div.caja
				img(src='../../images/svg/novedades-icon.svg' alt='Novedades')
				p Novedades estudiantes existentes para renovación
				a.btn_yellow(href='https://www.fincomercio.com/renovacion-de-credito-educativo-fincomercio/' target='_blank') Ver más
			
			
mixin acordion-5
	div.content-acordion.content_accordion_5
		span.close-button
		p 61 años de constante trabajo por los jóvenes colombianos y su educación, se han otorgado cientos de becas, en las universidades más prestigiosas del país, superando los mil millones de pesos invertidos en educación. 
		h3 Líneas única de crédito
		
		ul
			li Los créditos educativos que ofrece las Fundaciones Michelsen son para pregrado, posgrado, Diplomados y Cursos. 
			li Créditos  a corto plazo 6 meses pregrado y 12 meses posgrado y curso de Ingles. 
			li Hay 2 modalidades:  con pagaré  o cheques posfechados. 
			li Tasa de interés: 1,4% mes 
			li El estudio de crédito se demora 30 minutos. 
			
		h3 Requisitos:
		
		ul
			li Fotocopia del Cédula del Titular y estudiante ampliada al 150% 
			li Formulario para  solicitud de Crédito 
			li Orden de matrícula. 
			li No estar reportado en centrales de riesgo. 
			li Edad Mínima 21 años. 
			li Si es empleado con contrato a término indefinido antigüedad mínima de 6 meses; con contrato a término fijo o prestación de servicios mínimo 1 año. 
			li Capacidad de endeudamiento.
			
		h3 Contacto: 
		p Nombre: Oscar Bernal
		p Correo: <a href="mailto:comercialart@fundacionesmichelsen.or" target="_blank">comercialart@fundacionesmichelsen.or</a>
		p Celular: 3508737119
		
		a.btn_yellow(href='https://creditoseducativoscolombia.com/' target='_blank') Mayor información
			
			
			
mixin acordion-6
	div.content-acordion.content_accordion_6
		span.close-button
		p Línea de crédito con la que puedes financiar tus estudios de educación superior, es decir, que aplica para carreras técnicas, tecnológicas, de pregrado, posgrado e incluso para la formación en un segundo idioma como el inglés.
		h3 Crediestudiantil:
		p Este tipo de crédito está diseñado para estudiantes y padres de familia que estén en un rango de edad entre 18 y 70 años y cuenten con ingresos mínimos de 1.5 SMMLV.
		
		ul
			li Tasa 1,74% NMV
			li Plazo: Equivalente al ciclo de estudio 
			li Financia desde $ 700.000 hasta 100% de la matrícula.
			li Estudio de crédito gratuito.
			
		h3 Contacto: 
		p Nombre : Carmen Torres - Jenny Torres
		p Correos: <a href="mailto:ctor10@bancodebogota.com.co" target="_blank">ctor10@bancodebogota.com.co</a>; <a href="mailto:yrodr40@bancodebogota.com.co" target="_blank">yrodr40@bancodebogota.com.co</a>  
		p Celulares: 3002174139 - 3107958295
		
		a.btn_yellow(href='https://www.bancodebogota.com/wps/portal/banco-de-bogota/bogota/productos/para-ti/creditos-y-financiacion/crediestudiantil' target='_blank') Mayor información
			
			
			
mixin acordion-7
	div.content-acordion.content_accordion_7
		span.close-button
		p Sufi de Bancolombia es una línea de créditos con sucursal virtual, con la finalidad y disposición de otorgar créditos que satisfagan la necesidad de sus clientes, ya sea para comprar una moto o pagar sus estudios.
		h3 Línea de crédito:
		
		ul
			li Línea corto plazo:
			li Plazo: equivalente al ciclo académico 6 meses o 12 meses.
			li Tasa: 2,03% NMV
			li Monto hasta 25 SMMLV
			li Funciona como cupo rotativo para renovar cada semestre.
			li Crédito respaldado por una garantía.
			
		h3 Línea único desembolso:
		
		ul
			li Plazo: hasta 24 meses
			li Tasa: 2,12% NMV
			li Monto: Desde $ 300.000 hasta 25 SMMLV.
			li Cupo rotativo
			
		h3 Línea largo plazo:
		
		ul
			li Plazo: Hasta 84 meses.
			li Tasa: 1,7% NMV
			li Monto:  desde $ 3 millones hasta el 100% del valor matricula.
			li Crédito se puede renovar las veces que sea necesario.
			li Estudiante debe tener entre 18 y 74 años o presentar un titular que esté en ese rango de edad, tenga algún grado de consanguinidad y pueda soportar los ingresos, así el titular será el deudor del crédito. 
			
		h3 Contacto: 
		li Nombre: Leonardo Cañas
		li Correo: <a href="mailto:lecanas@bancolombia.com.co" target="_blank">lecanas@bancolombia.com.co</a>
		li Celular: 317 5020373
		
		a.btn_yellow(href='https://sufi.grupobancolombia.com/sufi/creditos/educacion/credito-educativo/simulador?gclid=EAIaIQobChMIrr7y46Xc6QIVgeDICh1yzg3iEAAYASAAEgJZwfD_BwE' target='_blank') Mayor información
		
		
mixin acordion-8
	div.content-acordion.content_accordion_8
		span.close-button
		p Es un programa de financiación a largo plazo gestionado y administrado por LUMNI, dirigido a estudiantes con necesidad económica y admitidos en la Universidad El Bosque para cursar primer semestre o que ya esté cursando en alguna de las carreras definidas, donde cubrimos hasta el 80% del valor de matrícula semestral hasta finalizar su carrera.
		h3 Financia hasta el 80% de tu matricula de pregrado cada semestre
		h3 Requisitos para postular:
		
		ul
			li Estar admitido para primer semestre o estar cursando en la Universidad El Bosque en una carrera de pregrado que se financie a través del Programa.
			li No contar con reporte negativo en centrales de riesgo.
			li El estudiante deberá presentar un responsable solidario quien también firmará el contrato y pagaré.
			li Contar con el 20% de la matricula a pagar semestralmente a la universidad.
			li Sustentar necesidad económica, con ingresos familiares menor de 4 SMMLV
			
		p La financiación aplica para los siguientes programas de pregrado con cupos limitados:
		
		div.cajas
			div.caja_dos
				h4 Naturales
				p Biología
				
			div.caja_dos
				h4 Salud
				p Enfermería y Odontología
				
			div.caja_dos
				h4 Bellas Artes
				p Arte Dramático, Artes Plásticas, Formación Musical, Diseño Industrial
				
			div.caja_dos
				h4 Económicas
				p Administración de empresas y Negocios internacionales
				
			div.caja_dos
				h4 Sociales
				p Derecho, Ciencia Política, Psicología y Psicología-Nocturna 
				
			div.caja_dos
				h4 Educación
				p Licenciatura En Educación Infantil y Licenciatura En Bilingüismo Con Énfasis En Enseñanza Inglés
				
			div.caja_dos
				h4 Ingenierías
				p Ing. Sistemas Nocturna y Diurna, Ingeniería Electrónica Nocturna y Diurna, Ingeniería Electrónica, Ingeniería Ambiental, Bioingeniería e Ingeniería Industrial
		
		h3 Sistema de pago:
		
		ul
			li Época de estudios: Cuotas de “cultura de pago” mensual (COP $80.000 o más si el estudiante lo solicita). 
			li Época laboral: Cuota mensual basada en un % del salario (máximo el 20% del salario) por X meses determinado (máximo 144 meses). 
			li Costo de financiación: Estimado 5% E.A., con un Costo máximo de la financiación 12% E.A. (esto dependerá del salario que el estudiante reciba realmente en su etapa laboral)
		
		a.btn_yellow(href='#' target='_blank') Ingresa aquí
		
		h3 Contacto: 
		p Nombre: Gina García 
		p Correo: <a href="mailto:gina.garcia@lumni.net" target="_blank">gina.garcia@lumni.net</a>
		p Celular: 315 2599456
		p Telefono: 6169494
		
		
		
	
	
//- ----------------------------
//- ---------------------------- footer ------------------------------- //
//- ----------------------------

mixin footer
	div.whatsapp
		div.content
			img(src='../../images/svg/Icons-whatsapp.svg' alt='Whatsapp')
			div
				a(href='https://wa.me/3182925610' target='_blank') 318 292 5610 /
				a(href='https://wa.me/3156644339' target='_blank') 315 664 4339 /
				a(href='https://wa.me/3185965343' target='_blank') 318 596 5343
		
	footer
			
		div.contact_info
			div.horario
				div.icon
					img(src='../../images/svg/Icons-horario.svg' alt='Horario')
				div.txt
					h5 Horario de atención
					p Lunes a viernes de 8: 00 am a 5:00 pm
						br 
						| Sabados 8:30 am  a 12:30pm
			
			div.contacto
				div.icon
					img(src='../../images/svg/Icons-contacto.svg' alt='Contacto')
				div.txt
					h5 Información de contacto
					p Edificio Fundadores Av. Cra 9 No. 131 A - 02 - Primer piso.
						br
						a(href='mailto:asesorfinanzas1@unbosque.edu.co' target='_blank') asesorfinanzas1@unbosque.edu.co 
						br
						a(href='mailto:asesorfinanzas2@unbosque.edu.co' target='_blank') asesorfinanzas2@unbosque.edu.co 
						br
						a(href='mailto:asesorfinanzas3@unbosque.edu.co' target='_blank') asesorfinanzas3@unbosque.edu.co
						br
						| Telefonos 6489000 ext 1485, 3989, 1150

		
		






