h1{
	word-break: break-word;
	display: inline-block;
	position: relative;
	@include font_universal (
		$font_family_line_height: 47px,
		$font_family_weight: 300,
		$font_family_size: 38px,
		$font_family_color: $color_green_dark,
		$font_family_letter_spacing: 0,
		$font_family_group: $font_acherus_black
	);
	@media (max-width: $breakpoint_2){
		font-size: 33px;
		line-height: 33px;
	};
	
	@media (max-width: $breakpoint_4){
		font-size: 22px;
		line-height: 23px;
		word-break: break-all;
	};
}

h2{
	word-break: break-word;
	display: block;
	margin: 0;
	@include font_universal (
		$font_family_line_height: 30px ,
		$font_family_weight: 300,
		$font_family_size: 26px,
		$font_family_color: $color_text,
		$font_family_letter_spacing: 0,
		$font_family_group: $font_acherus_black
	);
	
}

h3{
	word-break: break-word;
	display: block;
	margin: 1rem 0;
	@include font_universal (
		$font_family_line_height: 25px,
		$font_family_weight: 800,
		$font_family_size: 20px,
		$font_family_color: $color_text,
		$font_family_letter_spacing: 0,
		$font_family_group: $font_family_din
	);
}

h4{
	word-break: break-word;
	display: block;
	@include font_universal (
		$font_family_line_height: 18px,
		$font_family_weight: 300,
		$font_family_size: 16px,
		$font_family_color: $color_text,
		$font_family_letter_spacing: 0,
		$font_family_group: $font_acherus_ultralight
	);
	
	b{
		font-family: $font_acherus_bold;
	}
	
	@media (max-width: $breakpoint_4){
		font-size: 13px;
		line-height: 15px;
	}
	
}

h5{
	word-break: break-word;
	display: block;
	margin: 0;
	@include font_universal (
		$font_family_line_height: 19px,
		$font_family_weight: 300,
		$font_family_size: 16px,
		$font_family_color: $color_text,
		$font_family_letter_spacing: 0,
		$font_family_group: $font_acherus_ultralight
	);
}

h6{
	word-break: break-word;
	display: block;
	@include font_universal (
		$font_family_line_height: 20px,
		$font_family_weight: 300,
		$font_family_size: 14px,
		$font_family_color: $color_text,
		$font_family_letter_spacing: 0,
		$font_family_group: $font_acherus_ultralight
	);
}

p{
	
	b{
		font-family: $font_acherus_bold;
	}
	
}